<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario creditos</title>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/actualizarcre.js"></script>
    <script src="js/eliminarcre.js"></script>
    <link rel="shortcut icon" href="img/icon.png">
    <link href= "css/estilo.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header id="encabezado">
        <img src="img/logo_large.png" class="logo-menu">
        <div class="encacuadro">
          <p><%= uss %></p>
          <img src="img/logo_small_icon_only.png" alt="">
          <a href="cerrar">Cerrar sesion</a>
      </div>     
      </header>
  
  <div class="menuvolver"><a href="/vistaempleado">volver al Menu principal</a></div>

    <div id="cont-cre">
        <div id="centrar-cre">
            <div id="cre">
                <div class="titulo-cre">
                    Creditos
                </div>
                <form id="crediform" action="/frminsertarcreemple" method="POST">
                    <input type="text" name="CreCodigo" placeholder="Codigo" required>

                    <input type="text" name="CliDoc" placeholder="Documento" required>
                    
                    <input type="text" name="CreCodLinea" placeholder="Codigo linea" required>

                    <input type="text" name="CreMontoPrestado" placeholder="Monto prestado" required>

                    <input type="date" name="CreFechaAproba" placeholder="Fecha aprobado" required>

                    <input type="text" name="CrePlazo" placeholder="Plazo" required>
                    
                    <button type="submit" title="Enviar" name="Enviar">Enviar</button>
                </form>
            </div>
        </div>
    </div>

    <from action="" name="frm" id="frm">
        <table class="table">
            <thead>
                <tr>

                    <th>CODIGO</th>
                    <th>DOCUMENTO</th>
                    <th>CODIGO LINEA</th>
                    <th>MONTO PRESTADO</th>
                    <th>FECHA APROBADO</th>
                    <th>PLAZO</th>
                    <th>ACTUALIZAR</th>
                    <th>ELIMINAR</th>

                </tr>
            </thead>

            <tbody>
             <% datos.forEach(function (datos){ %>    
                <tr>
                    <td><input type="text" value="<%=datos.CreCodigo%>" name="codigo" id="cod" class="cod"></td>
                    <td><input type="text" value="<%=datos.CliDoc%>" name="doccli" id="doc" class="doc"></td>
                    <td><input type="text" value="<%=datos.CreCodLinea%>" name="codli" id="codli" class="codli"></td>
                    <td><input type="text" value="<%=datos.CreMontoPrestado%>" name="monpres" id="monpres" class="monpres"></td>
                    <td><input type="text" value="<%=datos.CreFechaAproba%>" name="fecap" id="fecap" class="fecap"></td>
                    <td><input type="text" value="<%=datos.CrePlazo%>" name="crepla" id="crepla" class="crepla"></td>
                    <td><input type="submit" value="Actualizar" name="btnact" id="btnact" class="btnact"></td>
                    <td><input type="submit" value="Eliminar" name="btneli" id="btneli" class="btneli"></td>
                </tr>
             <%})%>
            </tbody>
        </table>
    </from>

</body>
</html>